---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <section>
    <h1>About MakerFriends</h1>
    <p>Founded in 2025, MakerFriends was created to inspire young makers, hobbyists, and STEM enthusiasts to build and learn together. We believe that collaboration accelerates innovation and fuels curiosity.</p>
  </section>
</Layout>
