---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to MakerFriends">
  <section>
    <h1>Welcome to MakerFriends</h1>
    <p>MakerFriends is a vibrant online community where friends come together to collaborate on STEM / STEAM (Science, Technology, Engineering, and Math + Art!) projects. Whether you're building robots, programming apps, or conducting experiments, we help you connect, share, and grow together.</p>
    <a href="/projects">Explore Projects</a>
  </section>
</Layout>
